@import '~../styles/variables';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  background: $ltGrey;
  color: $black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  font-size: 17px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.small {
  font-size: 75%;
}

.mb-0 {
  margin-bottom: 0;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

label,
button {
  font-size: 0.75rem;
  font-weight: 600;
}

.lead {
  font-size: 1.3rem;
  font-weight: 500;
}

.text-center {
  text-align: center;
}
